* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #fdcef8;    
    text-align: center;
    position: static;
}

nav {
    background-color: #2deee5;
}

main {
    background-color: #cbd7fd;
    border-top: 2px solid;
    padding-top: 20px;
    width: 100%;
}

aside {
    background-color: #fdcef8;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.middle {
    display: flex;
    flex-direction: block;
    padding: 10px;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    padding: 0;    
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;           
}

aside, nav {
    flex: 1;
}

.menu-left {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #fdcef8;
    margin-left: 1%;
}

.menu-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    background-color: #fdcef8;    
}

.list_menu_left {    
    list-style: none;
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
    background-color: #fdcef8;
    width: 90%;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.c_list {
    padding: 4px;
    width: 100%;
}

.c_list:hover {
    cursor: pointer;    
    font-size: bolder;
    font-size: 20px;
    text-shadow: 1px 1px;    
}

.logo {
    width: 100%;
    height: 80px;
}

.gallery {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;    
    display: flex;    
    flex-direction: row;
    justify-content: center;        
    flex-wrap: wrap;        
    column-gap: 10px;     
}

.poke img {
    width: 150px;
    height: 150px;
}

.poke {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;      
    border: 1px solid;     
    border: 0;
    padding: 0;
    flex-basis: 1.33%;
    justify-content: space-between;
}

.poke_info {
    border: 2px solid;    
    margin-top: 5%;
    border-radius: 10px;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 35%;
    height: 50%;
}

.btn_aceptar {
    margin: 5%;
    font-weight: bolder;
    font-style: italic;
}

.poke:hover {
    cursor: pointer;
    border: 4px solid;
    border-radius: 10px;
}

.Labeldiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.label {
    width: 100px;
    height: 25px;
    font-size: 16px;
    margin: 0;    
    border: 1px solid;
    text-align:justify;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;     
}

.pokeData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.pData_Principal{
    font-size: 14px;    
    display: flex;
    display: row;    
    font-weight: bold;
    text-align: center;        
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    border: 1px solid; 
    border-radius: 0px 5px 5px 0px;
    margin: 0;   
}


.poke_img {
    margin-top: -20%;
    height: 20%;
    height: 90%;
}

table{
    border: 1px solid #380707;
    width: 500px;    
}

table th{
    font-weight: bolder;
}

.table_left {
    border: 1px solid #380707;
    font-size: 14px;
    text-align: center;
    width: 180px;
    font-weight: bolder;
}

.table_right {
    border: 1px solid #380707;
    text-align: center;
    font-size: 14px;
}

.table_right::first-letter {
    text-transform: uppercase;
}

.button_footer {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bolder;  
    box-shadow: 2px 2px;  

}

@media (max-width: 1493px) {        
    .middle {
        position: relative;               
        width: 80%;
        height: 80%;
    }
    
    .list_menu_left {
        display: block;        
        border: none;
        padding: 0;
    }      
    
    .poke img {
        width: 170px;
        height: 170px;        
    } 

    .poke {
        margin-bottom: 20px;
        border: 1px solid;
        border-radius: 5px;
    }

    table{     
        width: 300px;    
    }        
    
    .table_left {        
        font-size: 10px;        
        width: 130px;        
    }
    
    .table_right {        
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    table{     
        width: 260px;    
    }
    
    .poke_info { 
        width: 70%;        
    }
    
    .table_left {                
        width: 90px;        
    }    

}